.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    color: #6b6b6f;
    padding: 10px 20px;
    margin: 15px;
    border-radius: 10px;
}

.item p {
    flex-basis: 0;
    flex-grow: 1;
    font-size: 1rem;
}

.item span {
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    margin-right: 10px;
    background-color: #c6c8ee;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
}

.item button {
    width: 35px;
    height: 35px;
    background-color: #c6c8ee;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 5px;
    transition: .1s all ease-in-out;
}

.item button:hover {
    font-size: 1.2rem;
}

.checkBox {
    transform: scale(1.5);
    font-size: 2rem;
    margin-right: 50px;
    cursor: pointer;
}

@media (max-width: 740px) {
    .item {
        padding: 10px;
    }

    .item p {
        font-size: .8rem;
        margin-right: 10px;
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    .item span {
        display: none;
    }

    .item button {
        font-size: .8rem;
        margin-right: 2px;
        background-color: #c6c8ee;
    }

    .checkBox {
        transform: scale(1.2);
        font-size: 2rem;
        margin-right: 20px;
        cursor: pointer;
    }
}