.search {
    width: 250px;
    border: 1px solid #304ffe;
    padding: 10px;
    border-radius: 10px;
    box-shadow: #304ffe25 0px 5px 5px 2px;
    text-align: center;
}

@media (max-width : 740px) {
    .search {
        width: 80vw;
    }
}